/*
  Styling slides structure
*/

.source-image-new
{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  font-size: 30% !important;
  background-color: #212121;
  padding: 2px !important;
}

.source-image
{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  font-size: 30% !important;
  background-color: #212121;
  padding: 10px;
}

img.logo-new-image
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #212121 !important;
  width: 100px;
  border: 0 !important;
  padding: 10px !important;
  margin: 2px !important;
}

img.logo-image
{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #212121 !important;
  width: 50px;
  border: 0 !important;
}

@media print
{
    .source-image
    {
        display: none !important;
    }
}

.controls-arrow
{
  color: #ff0066;
}

/*
  Styling slides content
*/

h1, h2, h3, h4, h5, h6
{
  color: #ff0066 !important;
}

.reveal h1.lowercase,
.reveal h2.lowercase,
.reveal h3.lowercase,
.reveal h4.lowercase,
.reveal h5.lowercase,
.reveal h6.lowercase
{
  text-transform: lowercase !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal h1.normalcase,
.reveal h2.normalcase,
.reveal h3.normalcase,
.reveal h4.normalcase,
.reveal h5.normalcase,
.reveal h6.normalcase
{
  text-transform: none !important;
}

.reveal blockquote
{
  border-left: 4px solid #ff0066 !important;
  padding-left: 8px;
  background: rgba(33, 33, 33, 0.7);
}

h2.title, h1.title
{
  color: white !important;
}

img
{
  margin: 0 !important;
}

blockquote.quote
{
  font-size: 42px !important;
}

p.quote_author
{
  font-size: 20px !important;
}

figcaption
{
  font-size: 10px !important;
}

figure blockquote+figcaption
{
  font-size: 24px !important;
}

table.tg
{
  font-size: 0.8em;
}

span.accent, p.accent
{
    color: #ff0066;
    font-weight: bold;
}

span.small
{
  font-size: small;
}

td.accent
{
    background-color: #ff0066;
}

code
{
  background-color: #212121;
}

.reveal pre
{
  line-height: 1.1em;
}

.reveal a
{
  color: #ff0066;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #9b003f;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #ff0066; }

.flex-container {
  display: flex; }

.flex-center {
    flex-direction: row;
    text-align: center;
    align-items: center;}

.flex-container img {
    margin-right: 15px !important;
}

.flex-column {
    flex-direction: column;}
.crossed:before, .crossed:after {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 100%;
    height: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    bottom: 0;
    margin: auto;
}

.crossed:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.vcentered {
  vertical-align: middle !important;
}

.centered {
  text-align: center !important;
}

.reveal code.larger {
    font-size: -webkit-xxx-large;
    line-height: normal;
}

.big {
    font-size: larger !important;
}

.x-large {
    font-size: x-large !important;
}

img.simple {
  background: none !important;
  border: none !important;
}

div.timeline {
  position: relative;
}

.timeline {
	width:800px;
	height: 20px;
	list-style: none;
	text-align: justify;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(255,0,102,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(255,0,102,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(255,102,0,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(255,0,102,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(255,0,102,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(255,0,102,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}

.timeline:after {display: inline-block; content: ""; width: 100%;}

.timeline li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #ff0066;
	text-align: center;
	line-height: 1.2;
	position: relative;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

.timeline li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 26px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
	top: -40px;
}
.timeline li:nth-child(even):before {
	bottom: -40px;
}

.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 16px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	-webkit-transform: translate(-50%, 100%);
	   -moz-transform: translate(-50%, 100%);
	    -ms-transform: translate(-50%, 100%);
	     -o-transform: translate(-50%, 100%);
	        transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	-webkit-transform: translate(-50%, -100%);
	   -moz-transform: translate(-50%, -100%);
	    -ms-transform: translate(-50%, -100%);
	     -o-transform: translate(-50%, -100%);
	        transform: translate(-50%, -100%);
}
code table tbody tr td {
  border-bottom: 0px;
}
