
Skip to content
Pull requests
Issues
Codespaces
Marketplace
Explore
@LaetitiaAvrot
highlightjs /
highlight.js
Public

Fork your own copy of highlightjs/highlight.js

Code
Issues 77
Pull requests 9
Actions
Projects 1
Wiki
Security 2

    Insights

Beta Try the new code view
highlight.js/src/styles/color-brewer.css
@joshgoebel
joshgoebel (chore) default padding 1em, some CSS consistency
Latest commit bdfda31 Apr 13, 2021
History
8 contributors
@isagalaev
@Sannis
@sourrust
@joshgoebel
@fabriciotav
@non
@dikmax
@coreyward
68 lines (55 sloc) 837 Bytes
/*
Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira
*/

.hljs {
  color: #000;
  background: #fff;
}

.hljs-subst {
  /* default */
}

.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #756bb1;
}

.hljs-comment,
.hljs-quote {
  color: #636363;
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-bullet,
.hljs-link {
  color: #31a354;
}

.hljs-deletion,
.hljs-variable {
  color: #88f;
}



.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-doctag,
.hljs-type,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong {
  color: #3182bd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-attribute {
  color: #e6550d;
}
Footer
© 2023 GitHub, Inc.
Footer navigation

    Terms
    Privacy
    Security
    Status
    Docs
    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

highlight.js/color-brewer.css at main · highlightjs/highlight.js

